{% extends "unit_logs/base.html" %}

{% block content %} 

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .flex-container > div {
        width: 100px;
        margin: 5px;
        text-align: center;
        line-height: 25px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        flex-basis: 8%;
    }

    a {
        width: 100px;
    }
    .btn-primary {
        width: 125px;
    }

    
</style>


    
<div class="pb-2 mb-2 border-bottom">
   
    <a class="btn btn-dark" href="{% url 'unit_logs:new_arkle' %}" role="button">Add Arkle</a>
</div>

<div class="flex-container">
    {% for arkle in arkles %}
    <div>
        {% if arkle.status == 'IN SERVICE' %}
        <a class="btn btn-success" href="{% url 'unit_logs:arkle' arkle.id %}">
        {{ arkle }}
        </a>
        {% elif arkle.status == 'NOT IN SERVICE' %}
        <a class="btn btn-danger" href="{% url 'unit_logs:arkle' arkle.id %}">
            {{ arkle }}
        </a>
        {% else %}
        <a class="btn btn-warning" href="{% url 'unit_logs:arkle' arkle.id %}">
            {{ arkle }}
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% endblock content %}