{% extends "unit_logs/base.html" %}
{% load bootstrap4 %}

{% block content %} 

<style>
    .card-header {
        display: flex;
        justify-content: space-between;
    }
    a {
        color:black;
    }
</style>

<div class="card mb-3">
    <div class="card-header">
        {{ error }}
        <h4>
    {{ frankel }} - {{ frankel.status }} since {{ frankel.date_added }} 
    {% if delta.days == 1 %}
    ({{ delta.days }} day)
    {% else %}
    ({{ delta.days }} days)
    {% endif %}
    </h4>
    <a class="btn btn-info" href="{% url 'unit_logs:new_frankel_entry' frankel.id %}" role="button">Add Entry</a>
            
    </div>

    <div class="card-body">
        <form method="POST" class="form">


            {% for entry in entries %}

                <a href="{% url 'unit_logs:edit_frankel_entry' entry.id %}">{{ entry.date_added|date:'M d, Y H:i' }} - {{ entry.venue }} - {{entry.status}} {{ entry.comments|linebreaks }}</a>


            {% endfor %}
<br>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">Save</button>
            {% endbuttons %}

        </form>
    
        <form method="POST" action="{% url 'unit_logs:deletefrankel' frankel.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-block">Delete</button>
        </form>
    
    </div>
</div>



{% endblock content %}