{% extends "unit_logs/base.html" %}

{% block content %}


<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .flex-container > div {
        width: 100px;
        margin: 5px;
        text-align: center;
        line-height: 25px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        flex-basis: 8%;
    }

    a {
        width: 100px;
        color: black;
    }
    h3 {
      text-align: center;
    }
    canvas {
      max-width: 700px;
      max-height: 500px;
      min-width: 700px;
      min-height: 500px;
      margin: auto
    }
</style>

<div class="pb-2 mb-2 border-bottom">
  <h1>Welcome to the Tracker Management System</h1>
</div>
<h3>Tracker Statuses</h3>
<canvas id="stackedBar" width="300" height="300"></canvas>
<br>


<script>
// console.log('mt: ', eval('{{data.month_titles|safe}}'))
var ctx = document.getElementById('stackedBar').getContext('2d');
var stackedBar = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: eval("{{data.month_titles|safe}}"), //['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
        datasets: [{
          label: 'Repair',
          data: [],
          backgroundColor: 'rgba(160, 160, 160, 0.4)',
        },
        {
          label: 'Working',
          data: [],
          backgroundColor: 'rgba(42, 200, 0, 0.4)',
        },
        {
          label: 'Warning',
          data: [],
          backgroundColor: 'rgba(250, 255, 0, 0.4)',
        },
        {
          label: 'Out Of Action',
          data: [],
          backgroundColor: 'rgba(160, 0, 80, 0.4)',
        },
        {
          label: 'OOS',
          data: [],
          backgroundColor: 'rgba(0, 130, 160, 0.4)',
        },
        {
          label: 'Failure',
          data: [],
          backgroundColor: 'rgba(255, 0, 0, 0.4)',
        }]
    },
    options: {
        scales: {
            y: {
              stacked: true,
              beginAtZero: true
            },
            x: {
              stacked: true
            }
        }
    }
});


fetch(window.location.href + 'api/v1/graphs/status_per_month')
  .then(function (response) {
    return response.json();
  }).then(function (data) {
    // This is the JSON from our response
    console.log(data);
    incoming_data = Object.values(data.data)

    stackedBar.data.datasets.forEach((dataset) => {
      dataset.data.push(...incoming_data.shift())
    })
    stackedBar.update()
  }).catch(function (err) {

    console.warn('Something went wrong.', err);
  });

</script>

{% endblock content %}
