{% extends "unit_logs/base.html" %}

{% block content %}

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .flex-container > div {
        width: 100px;
        margin: 5px;
        text-align: center;
        line-height: 25px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        flex-basis: 8%;
    }

    a {
        width: 100px;
        color: black;
    }
</style>

<div class="pb-2 mb-2 border-bottom">
  <h1>Welcome to the Tracker Management System</h1>
</div>
<br>
<p>Total number of trackers in service: {{ total_trackers }} ({{ percentage_in_service }}%)</p>
<p><a href="{% url 'unit_logs:trackers_in_repair' %}">Total number of trackers in repair: {{ total_trackers_in_repair }} ({{ percentage_total_in_repair }}%)</a></p>
<p>Total number of trackers not in service: {{ total_not_in_service }} ({{ percentage_not_in_service }}%)</p>
<p>Total number of trackers lost: {{ total_lost }} ({{ percentage_lost }}%)</p>
<p><strong>Total number of trackers: {{ total_trackers }}</strong></p>

{% endblock content %}
