{% extends "unit_logs/base.html" %}
{% load unit_extras %}
{% block content %}

{% regroup entries by tracker.tracker_group as group_list %}
{% for group in group_list %}

<div class="pb-2 mb-2 border-bottom">
    <h3>{{ group.grouper }} ({{ group.list | length }}) </h3>
</div>

<table>
    {% for entry in group.list %}

      {% if entry.status == 'On Course - Racing: Stuck on track' %}
        <tr>
          <td>
            <strong>
              <a href="{% url 'unit_logs:tracker_show' entry.tracker.tracker_group entry.tracker.id %}">{{ entry.tracker }}</a> Stuck on track
            </strong> at {{ entry.venue }} on {{ entry.date_added }}
          </td>
        </tr>
      {% elif entry.status == 'On Course - Racing: Not to course' %}
        <tr>
          <td>
            <strong>
              <a href="{% url 'unit_logs:tracker_show' entry.tracker.tracker_group entry.tracker.id %}">{{ entry.tracker }}</a> Not to course
            </strong> at {{ entry.venue }} on {{ entry.date_added }}
          </td>
        </tr>
      {% endif %}

      {% empty %}
        <tr>No Entry has been added yet.</tr>
    {% endfor %}
</table>

<br>
{% endfor %}

{% endblock content %}
