{% extends "unit_logs/base.html" %}
{% load bootstrap4 %}

{% block content %}

<style>
    .card-header {
        display: flex;
        justify-content: space-between;
    }
    a {
        color:black;
    }
</style>

<div class="card mb-3">
    <div class="card-header">
        {{ error }}

    <h4>
        {{ tracker }}
    </h4>
        <a class="btn btn-info" href="{{tracker.id}}/entries/new" role="button">Add Entry</a>
    </div>

    <div class="card-body">
      <h3>Entries</h3>
      <div class="entries">
        {% for entry in entries %}
        <div>
          <a href="{{tracker.id}}/entries/{{entry.id}}">{{ entry.status.category_to_emoji }} {{ entry.timestamp|date:'M d, Y H:i' }} - {{entry.status.description}} {{ entry.comments }} {{ entry.venue|default_if_none:""}}</a>
        </div>
        {% endfor %}
      </div>
      <br>
      <form method="POST" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button type="submit" class="btn btn-primary btn-block">Save New Status</button>
          {% endbuttons %}
      </form>

      <form method="POST" action="{{tracker.id}}/delete">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary btn-block">Delete</button>
      </form>

    </div>
</div>



{% endblock content %}
