{% extends "unit_logs/base.html" %}

{% block content %} 

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .flex-container > div {
        width: 100px;
        margin: 5px;
        text-align: center;
        line-height: 25px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        flex-basis: 8%;
    }

    a {
        width: 100px;
    }
    .btn-primary {
        width: 125px;
    }

    
</style>


    
<div class="pb-2 mb-2 border-bottom">
   
    <a class="btn btn-primary" href="{% url 'unit_logs:new_winx' %}" role="button">Add Winx</a>
</div>

<div class="flex-container">
    {% for winx in winxes %}
            <div>
            <a class="btn btn-light" href="{% url 'unit_logs:winx' winx.id %}">
            {{ winx }}
            </a>
        </div>
    {% endfor %}
</div>


{% endblock content %}